{% extends 'base.html' %}
{% load static %}
{% block title %}view post{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">{{ post.published_date }}</p>
  <p>{{ post.text|linebreaksbr }}</p>
  <img src="{{post.image.url}}" alt="{{ post.title }} image" class="mw-100">
  <p><a href="{% url 'main:post_edit' pk=post.pk %}">edit</a></p>

  <h2>Comments</h2>
  {% for comment in post.comments.all %}
      <div class="comment">
        <p class="info">{{ comment.author }} on {{ comment.created_date }}</p>
        <p>{{ comment.text|linebreaksbr }}</p>
        {% if comment.approved_comment %}<small><i><b>approved</b></i></small>{% endif %}
      </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  <form method="POST" action="{% url 'main:add_comment_to_post' post_id=post.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add comment</button>
  </form>
{% endblock %}
